@use "sass:math";
// 色
$white: #fff;
$black: #000;

// メインカラー（野球チーム用）
$main-color: #fff;
$accent-color: #253274;
$sub-accent: #ff9e0c;

// テキストカラー
$text-black: #000;
$text-black2: #333333;
$text-gray: #56564E;
$gray: #A6A6A6;
$gray2: #D5D5D5;
$text-white: #fff;
$yellow: #F9DB54;
$yellow2: #FFE064;
$gray3: #D9D9D9;
