@use "sass:math";
// 文字フォントの種類
$base-font: "Zen Old Mincho", serif;
$second-font: "Sawarabi Mincho", serif;
$third-font: "Autour One", sans-serif;
$fourth-font: "Noto Sans JP", sans-serif;
$fifth-font: "Zen Kaku Gothic New", sans-serif;
$sixth-font: "Poppin", sans-serif;
$seventh-font: "Inter", sans-serif;
$eighth-font: "Anton", sans-serif;
// 文字の太さ
$regular: 300;
$normal: 400;
$medium: 500;
$bold: 700;
